#version: '3.8'
#
#services:
#  zookeeper:
#    image: confluentinc/cp-zookeeper:7.4.0
#    container_name: zookeeper
#    ports:
#      - "2181:2181"
#    environment:
#      ZOOKEEPER_CLIENT_PORT: 2181
#      ZOOKEEPER_TICK_TIME: 2000
#
#  kafka:
#    image: confluentinc/cp-kafka:7.4.0
#    container_name: kafka
#    depends_on:
#      - zookeeper
#    ports:
#      - "9092:9092"
#    environment:
#      KAFKA_BROKER_ID: 1
#      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
#      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
#      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
#      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
#version: '3.8'

services:

  # =====================
  # INFRASTRUCTURE
  # =====================

  zookeeper:
    image: confluentinc/cp-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"

  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=orderdb
      - MYSQL_ROOT_PASSWORD=''
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=inventory_db
      - POSTGRES_USER=sumu
      - POSTGRES_PASSWORD=password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U sumu -d inventory_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  # =====================
  # SPRING CLOUD
  # =====================

  eureka-server:
    build: ./discovery-server
    ports:
      - "8761:8761"

  config-server:
    build: ./config-server
    ports:
      - "8888:8888"
    depends_on:
      - eureka-server

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - eureka-server
      - config-server

  # =====================
  # BUSINESS SERVICES
  # =====================

  order-service:
    build: ./order-service
    ports:
      - "8081:8081"
    depends_on:
      kafka:
        condition: service_started
      zipkin:
        condition: service_started
      eureka-server:
        condition: service_started
      mysql:
        condition: service_healthy
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/orderdb
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root

  payment-service:
    build: ./payment-service
    ports:
      - "8083:8083"
    depends_on:
      - kafka
      - zipkin
      - eureka-server
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092

  inventory-service:
    build: ./inventory-service
    ports:
      - "8082:8082"
    depends_on:
      kafka:
        condition: service_started
      zipkin:
        condition: service_started
      eureka-server:
        condition: service_started
      postgres:
        condition: service_healthy
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/inventory_db
      - SPRING_DATASOURCE_USERNAME=sumu
      - SPRING_DATASOURCE_PASSWORD=password
