server:
  port: 8083
spring:
  application:
    name: PAYMENT-SERVICE

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

management:
 tracing:
  sampling:
   probability: 1.0   # trace 100% requests (DEV only)
   endpoint: http://zipkin:9411/api/v2/spans
